BasedOnStyle: WebKit
BreakBeforeBraces: Allman
BreakStringLiterals: true
AlignConsecutiveAssignments: true
ColumnLimit: 0
IndentWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: true
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
BinPackParameters: true
SpacesInParentheses: false
